.tourpage iframe {
    display: block;
    width: 100%;
    height: calc(100vh - 2rem);
    background: black;
}

.sitefooter {
    position: fixed;
    left:0; bottom:0;
    font-size: .75rem;
    line-height: 1.2;
    text-align: center;
    margin:0 0;
    padding: 0.75em;
    width: 100%;
    background:  black; //$c-primary;
    color: rgba(255, 255, 255, 0.75);
    p {
        margin:0;
        padding:0;
    }
    a {
        text-decoration: none;
    }
}