<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | The Chicago Legacy Collection</title>
    <link rel="stylesheet" href="{{ root }}assets/css/app.css" />
    <link rel="icon" type="image/png" sizes="152x152" href="{{ root }}assets/img/favicon.png" />
  </head>
  <body class="tourpage">
    <a href="{{ root }}">
      <img
        src="{{ root }}assets/img/chicagologo-glow.png"
        alt="The Chicago Legacy Collection"
        class="toplogo toplogo--overlayed"
      />
    </a>
    {{> body}}
    <footer class="sitefooter">
      <p>
        &copy; 2019 <a target="_blank" href="http://www.eastdilsecured.com/">Eastdil Secured</a>, LLC
        - All Rights Reserved
      </p>
    </footer>

    <script src="{{ root }}assets/js/app.js"></script>
  </body>
</html>
